<template name="accountDialog">
  <div class="modal fade show d-block" role="dialog">
    <div class="modal-dialog" role="document">
      <form class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">登入</h5>
        </div>
        <div class="modal-body">
          {{> Template.dynamic template=displayByDialogMode}}
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="reset">
            取消
          </button>
          <button class="btn btn-primary" type="submit">
            登入
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="accountDialogBodyLoginPTT">
  <div class="form-group">
    <label for="loginUserName">PTT帳號：</label>
    <input
      id="loginUserName"
      class="form-control"
      type="text"
      placeholder="請輸入您的PTT帳號"
    />
  </div>
  <div class="form-group">
    <label for="loginPassword">密碼：</label>
    <input
      id="loginPassword"
      class="form-control"
      type="password"
      placeholder="請輸入登入本系統要使用的登入密碼，建議不要跟PTT密碼相同。"
    />
  </div>
</template>

<template name="accountDialogBodyLoginBahamut">
  <div class="form-group">
    <label for="loginUserName">巴哈姆特帳號：</label>
    <input
      id="loginUserName"
      class="form-control"
      type="text"
      placeholder="請輸入您的巴哈姆特帳號"
    />
  </div>
  <div class="form-group">
    <label for="loginPassword">密碼：</label>
    <input
      id="loginPassword"
      class="form-control"
      type="password"
      placeholder="請輸入登入本系統要使用的登入密碼，建議不要跟巴哈姆特密碼相同。"
    />
  </div>
</template>
